.chat{
    display: flex;
    flex-direction: column;
    padding-inline: 4px;
    cursor: pointer;

}

.part{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    max-width: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 2px;
    flex:1;
    overflow: hidden;
}

.chat-display{
    padding-top: 20px;
    display: flex;
    flex-direction:column;
    gap:16px;
}